body {
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	text-align: center;
	box-sizing: border-box;
}

.square-div {
	background-color: white;
	display: inline-block;
}

.grid-container {
	display: flex;
	margin: 50px auto;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	background-color: white;
}

#input-feedback {
	margin: 20px 20px;
}
